<div class="container" style="padding: 0% 0% 0% 0%;  width: 100%">
    <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-primary" (click)="onGogTest()">Test GOG</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary" (click)="onSteamListTest()">Test List Steam</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary" (click)="onSteamTest()">Test Steam</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary" (click)="onSort()" [disabled]=this.isLoadingSteam>Sort</button>
        </div>
    </div>
    <form [formGroup]="serachForm" (ngSubmit)="searchGame()">
        <div class="searchBar">     
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <input 
                            type="text"
                            id="searchField"
                            formControlName="searchField"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button 
                        class="btn btn-primary" 
                        type="submit"
                        [disabled]=!this.serachForm.valid>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container" style="padding: 0% 0% 0% 0%; width: 100%">
    <!-- <div class="row">
        <div class="col-sm-12">
            <p *ngIf = this.isLoading>Loading!</p>
        </div>
    </div> -->
    <div class="row gameListHeaders">
        <div class="col-sm-6 gog">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="gogLogo" [inlineSVG]="'assets/img/GOG.svg'" [setSVGAttributes]="{height: 100, width: 200}"></div>
                    </div>
                    <div class="col-sm-5" style="align-self: center;">
                        <div *ngIf = this.isLoadingGog>
                            <app-loading-spinner [gameType]="'gog'"></app-loading-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 steam">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="steamLogo" [inlineSVG]="'assets/img/steam.svg'" [setSVGAttributes]="{height: 100, width: 200}"></div>
                    </div>
                    <div class="col-sm-5" style="align-self: center;">
                        <div *ngIf = this.isLoadingSteam>
                            <app-loading-spinner [gameType]="'steam'"></app-loading-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="searchedGames">
        <div class="row" *ngIf="mockGamesVisible">
            <div class="col-sm-6">
                <app-game-item [game]="mockGogGame"></app-game-item>
            </div>
            <div class="col-sm-6">
                <app-game-item [game]="mockSteamGame"></app-game-item>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 gog">
                <app-game-item
                    *ngFor="let game of gamesListGog; let i = index" 
                    [game]="game"
                    [index]="i"
                    [ngClass]="{toCompare: i===0}"
                    >
                </app-game-item>
            </div>
            <div class="col-sm-6 steam">
                <app-game-item
                    *ngFor="let game of gamesListSteam; let i = index" 
                    [game]="game"
                    [index] = "i"
                    [ngClass]="{toCompare: i===0}">
                </app-game-item>
            </div>
        </div>
    </div>
</div>
