.row {
    border: solid 1px black;
    /* padding-top: 0px; */
    height: 100%;
}
.searchBar div.col-sm-10, .searchBar div.col-sm-2{
    border: solid 1px black;
    padding-left: 0%;
    padding-right: 0%;
    
}
.searchBar input {
    width: 100%;
    /* height: 100%; */
    
}
.searchBar button  {
    width: 100%;
    /* height: 100%; */
}

.searchedGames .col-sm-6 {
    border: solid 1px red;
    padding: 0% 0% 0% 0%;
}

.steamLogo {
    max-height: 100%;
    padding: 10px 0px 10px 10px;
}
.gogLogo {
    max-height:100%;
    padding: 10px 0px 10px 0px;
}
.gameListHeaders .col-sm-6 {
    padding: 0px 0px 0px 0px;
}

.gameListHeaders .steamLogo {
    filter:invert(1);
}
.gog {
    background-color: #d8d8d8;
}
.steam {
    background-color: #1b2838;
}

.toCompare {
    text-decoration: underline;
}

.errorMessageSteam p{
    margin: 0px 0px 0px 0px;
}